/* general */

:root{
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
}

h3{
    font-weight: bold;
}

/* header */




.logo_container img{
    max-height: 54px;
}

.logo_container img:nth-child(1){
    display: none;
}


#basic-addon1{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right:0px solid;
    background-color: rgb(225, 225, 225);
}

.form-control{
    border-left:0px solid;
    background-color: rgb(225, 225, 225);
}

.corner_container{
    max-width: 90px;
}





/* Header _ MQ */

@media all and (min-width:992px){
    .logo_container img:nth-child(1){
        display: block;
    }

    .logo_container img:nth-child(2){
        display: none;
    }
}


.menu , .setting_box{
    width: 100%;
}

/* main */

main{
    height: calc(100vh - 54px);
    display: flex;
}


/* sidebar */
.my_sidebar{
    width: 90px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

    background: linear-gradient(

        40deg,
        rgb(27, 43, 76) 65%,
        rgb(21, 32, 57) 65%
      );
}

.my_sidebar a{
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.my_sidebar a span{
    display: none;
}



.setting_box{
   text-align: center;
}

.menu{
    padding-top: 20px;
}

.info_container{
   
    width:100%;
    background-color: rgb(0, 110, 255);
    color: white;
    font-weight: bold;
    padding: 25px 0;
}


.number{
    font-size: 42px;
}

.my_plus{
    font-size: 16px;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    margin-left: 3px;
}

ul .my_plus{
    color: gray;
}

/* breadcrumb */

.breadcrumb_container h3{
    display: inline-block;
}


.breadcrumb a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.breadcrumb{
    background-color:rgb(2, 82, 187) ;
    display: inline-block;
    padding:2px 10px ;
    border-radius: 20px;
}

.hide_breadcrumb{
    display: none;
}



/* offcanvas */

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl{
    --bs-offcanvas-width: 667px;
}

/* main_main */

.main_content_container{
    overflow-y: auto;
    width:calc(100vw - 90px);
    font-weight: 600;
}

.text-bg-warning{
    color: white;
}

/*Prossime classi  */

.description{
    min-width: 97px;
    text-align: center;
}

.fa-code{
    background-color: rgb(216, 87, 47);
    color: white;
    border-radius: 50%;
    padding:5px 3px;
}

.mycontainer{
    padding: 15px 0px;
}


/* main_MQ */


@media all and (min-width:992px){
    .my_sidebar{
        width: 200px;
    }

    .main_content_container{
        width:calc( 100vw - 200px);
    }

    .my_sidebar a span{
        display: inline;
    }

    .setting_box{
        padding-left: 20px;
        text-align: left;
        
    }

    .hide_breadcrumb{
        display: inline-block;
    }

    .plus_breadcrumb{
        display: none;
    }
    
}


