/* general */

:root{
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
}

h3{
    font-weight: bold;
}

/* header */




.logo_container img{
    max-height: 54px;
}

.logo_container img:nth-child(1){
    display: none;
}


#basic-addon1{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right:0px solid;
    background-color: rgb(225, 225, 225);
}

.form-control{
    border-left:0px solid;
    background-color: rgb(225, 225, 225);
}

.corner_container{
    max-width: 90px;
}





/* Header _ MQ */

@media all and (min-width:992px){
    .logo_container img:nth-child(1){
        display: block;
    }

    .logo_container img:nth-child(2){
        display: none;
    }
}


.menu , .setting_box{
    width: 100%;
}

/* main */

main{
    height: calc(100vh - 54px);
    display: flex;
}


/* sidebar */
.my_sidebar{
    width: 90px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   background-image: url(../img/sidebar-bg.png);
    background-color:rgb(27, 43, 76) ;
}

.my_sidebar a{
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.my_sidebar a span{
    display: none;
}



.setting_box{
   text-align: center;
}

.menu{
    padding-top: 20px;
}

.info_container{
   
    width:100%;
    background-color: rgb(0, 110, 255);
    color: white;
    font-weight: bold;
    padding: 25px 0;
}


.number{
    font-size: 42px;
}

.my_plus{
    font-size: 16px;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    margin-left: 3px;
}

ul .my_plus{
    color: gray;
}

/* breadcrumb */

.breadcrumb_container h3{
    display: inline-block;
}


.breadcrumb a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.breadcrumb{
    background-color:rgb(2, 82, 187) ;
    display: inline-block;
    padding:2px 10px ;
    border-radius: 20px;
}

.hide_breadcrumb{
    display: none;
}



/* offcanvas */

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl{
    --bs-offcanvas-width: 667px;
}

#basic-addon2 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0px solid;
    background-color: rgb(225, 225, 225);
}

.form-control {
    border-left: 0px solid;
    background-color: rgb(255, 255, 255);
}

form label{
    margin:10px 0;
}


/* main_main */

.main_content_container{
    overflow-y: auto;
    width:calc(100vw - 90px);
    font-weight: 600;
}

.text-bg-warning2{
    color: #ffffff !important;
  background-color: RGBA(var(--bs-warning-rgb),var(--bs-bg-opacity,1)) !important;
}

/*Prossime classi  */

.description{
    min-width: 97px;
    text-align: center;
}

.fa-code{
    background-color: rgb(216, 87, 47);
    color: white;
    border-radius: 50%;
    padding:5px 3px;
}

.mycontainer{
    padding: 15px 0px;
}


/* FAQ */

/* .faq li:nth-child(even){
    display: none;
} */

.faq li:nth-child(even) {
    display: none;
}

.first_a{
    font-weight: normal;
}



/* main_MQ */


@media all and (min-width:992px){
    .my_sidebar{
        width: 200px;
    }

    .main_content_container{
        width:calc( 100vw - 200px);
    }

    .my_sidebar a span{
        display: inline;
    }

    .setting_box{
        padding-left: 20px;
        text-align: left;
        
    }

    .hide_breadcrumb{
        display: inline-block;
    }

    .plus_breadcrumb{
        display: none;
    }
    
}



/* hover & active */


.setting_box:hover, nav li:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.list-group-flush li:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

#input:hover{
    background-color: rgba(0, 0, 0, 0);
}

.faq .first_q:active{
    background-color: rgb(222, 248, 255);
    border-color:rgb(91, 219, 255);
}

.faq .first_q.focus{
    background-color: rgb(222, 248, 255);
    border-color:rgb(91, 219, 255);
}

.first_q:active .fa-chevron-down{
    transform: rotate(180deg);
}

.first_q.focus .fa-chevron-down{
    transform: rotate(180deg);
}


.first_q:active + .first_a{
display: inline-block;
}

.first_q:focus + .first_a{
    display: inline-block;
    }


